body{
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: Roboto;
    position: relative;
    height: auto;
    overflow-y: scroll;
    background-color: #efeff6;
}

header{
    background: #2b303b;
    height: 50px;
    width:100%;
    display: flex;
    color:#fff;
}

#canvas{
  display: block;
}

.boxkecil{
  width: 100%;
  height: 10vw;
  margin: 1vw;
}

.col{
  padding-left: 0px;
  padding-right: 0px;
}
.fa{
  margin-right: 9px;
}

.sidebar-menu{
  padding-bottom: 3px;
  padding-top: 5px;
}

.sidebar-menu:hover{
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-selected{
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
}


.judul{
  width: 100%;
  height: 2em;
  font-family: sans-serif;
  font-size:1vw;
  text-align: center;
}

.nilai-judul{
  text-align: center;
}

.logo img{
  height: 45px;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 5px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  /* border-top: 1.1em solid rgba(82,0,115, 0.2);
  border-right: 1.1em solid rgba(82,0,115, 0.2);
  border-bottom: 1.1em solid rgba(82,0,115, 0.2);
  border-left: 1.1em solid #520073; */
  /* -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); */
  /* -webkit-animation: load8 1.1s infinite linear; */
  /* animation: load8 1.1s infinite linear; */
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.subheader{
    display: flex;
    align-items: center;
    margin: 0px;
}

.logout{
    flex:1;
    justify-content: flex-end;
    padding:15px;
    display: none;
}

.logout a{
    color:#fff;
    text-decoration: none;
}
.card {
  margin-top: 1rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#firstChart{
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
}

#secondChart{
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
}

#thirdChart{
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
}

#fourthChart{
    height: auto !important;
    width: auto !important;
    margin: 0 auto;
}


#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 90%;
  position: absolute;
  padding: 0px;
  right: 5%;
  left:5%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-right: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
